html {
    background: #282828;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

#top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    background: rgba(236, 226, 215, 0.9);
    width: *;
    box-shadow: 0px 6px 0px rgba(0,0,0,0.5);
    flow: grid(1 2);
}

#logo {
    margin: 3px;
}

#navigation {
    width: *;
    height: *;
    font-size: 18px;
    vertical-align: center;
    line-height: 45px;
}

a {
    line-height: 45px;
    margin-right: 10px;
    color: #8f8479;
    text-decoration: none;
}

button {
    background: #4d4d4d;
    border: 1px solid #232323;
    border-radius: 3px;
    color: white;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    font-weight: normal;
}

button:hover {
    background: #515151;
}

button:focus {
    background: #0078d4;
}

#main-container {
    flow: grid(1, 2);
    size: *;
}

#top-container {
    height: 1*;
    width: *;
}

#bottom-container {
    width: *;
    padding: 3px;
    flow: grid(1 2);
    height: max-content;
}

#loading-container {
    width: *;
    background: #1f1f1f;
    height: 20px;
    margin-right: 3px;
    border-radius: 3px;
    border: 1px solid #232323;
}

#loading-fill {
    background: #0078d7;
    width: 0%;
    height: *;
    border-radius: 3px;
    transition: width(ease-in 200ms);
}
