@font-face
{
    font-family: 'Nuninto';
    src: url(Nunito-VariableFont_wght.ttf);
}

@font-face
{
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

@font-face
{
    font-family: 'Roboto-Light';
    src: url(Roboto-Light.ttf);
}
@font-face
{
    font-family: 'VarelaRound-Regular';
    src: url(VarelaRound-Regular.ttf);
}

html {
    background: #282828;
    background-image: url("images/tiles.png");
    background-repeat: repeat;
/*     background-size: 100% 100%; */
    padding: 0dip;
    margin: 0dip;
    overflow: hidden;
}

body {
    margin: 0dip;
    padding: 0dip;
    font-family: 'Roboto-Light';
    overflow: hidden;
}

#top-bar {
    position: absolute;
    top: 0dip;
    left: 0dip;
    height: 50dip;
    background: rgba(236, 226, 215, 0.8);
    border-bottom: 1px solid rgba(211,188,163,0.8);
    width: *;
    box-shadow: 0dip 6dip 0dip rgba(0,0,0,0.5);
    flow: horizontal;
    backdrop-filter: blur(20dip);
    z-index: 101;
}

#logo {
    margin: 3dip;
}

#navigation {
    width: *;
    height: *;
    font-size: 18dip;
    flow: horizontal;
    vertical-align: center;
    margin-left: 6dip;
}

#navigation > div{
    border-radius: 6dip;
    margin-right: 6dip;
    padding: 6dip;
    margin-top: *;
    margin-bottom: *;
    font-family: 'VarelaRound-Regular';
    color: #8f8479;
    font-weight: normal;
    background: rgba(255,255,255, 0);
    transition: background ease 100ms;
    flow: horizontal;
}

.nav-icon {
    height: *;
    width: 20dip;
    margin-right: 3dip;
    fill: #8f8479;
}

.home {
    background-image: url(path: M575.8 255.5c0 18-15 32.1-32 32.1h-32l.7 160.2c0 2.7-.2 5.4-.5 8.1V472c0 22.1-17.9 40-40 40H456c-1.1 0-2.2 0-3.3-.1c-1.4 .1-2.8 .1-4.2 .1H416 392c-22.1 0-40-17.9-40-40V448 384c0-17.7-14.3-32-32-32H256c-17.7 0-32 14.3-32 32v64 24c0 22.1-17.9 40-40 40H160 128.1c-1.5 0-3-.1-4.5-.2c-1.2 .1-2.4 .2-3.6 .2H104c-22.1 0-40-17.9-40-40V360c0-.9 0-1.9 .1-2.8V287.6H32c-18 0-32-14-32-32.1c0-9 3-17 10-24L266.4 8c7-7 15-8 22-8s15 2 21 7L564.8 231.5c8 7 12 15 11 24z);
    background-size: 20dip 20dip;
}
.wiki {
    background-image: url(path: M96 0C43 0 0 43 0 96V416c0 53 43 96 96 96H384h32c17.7 0 32-14.3 32-32s-14.3-32-32-32V384c17.7 0 32-14.3 32-32V32c0-17.7-14.3-32-32-32H384 96zm0 384H352v64H96c-17.7 0-32-14.3-32-32s14.3-32 32-32zm32-240c0-8.8 7.2-16 16-16H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16zm16 48H336c8.8 0 16 7.2 16 16s-7.2 16-16 16H144c-8.8 0-16-7.2-16-16s7.2-16 16-16z);
    background-size: 20dip 25dip;
}
.map {
    background-image: url(path: M57.7 193l9.4 16.4c8.3 14.5 21.9 25.2 38 29.8L163 255.7c17.2 4.9 29 20.6 29 38.5v39.9c0 11 6.2 21 16 25.9s16 14.9 16 25.9v39c0 15.6 14.9 26.9 29.9 22.6c16.1-4.6 28.6-17.5 32.7-33.8l2.8-11.2c4.2-16.9 15.2-31.4 30.3-40l8.1-4.6c15-8.5 24.2-24.5 24.2-41.7v-8.3c0-12.7-5.1-24.9-14.1-33.9l-3.9-3.9c-9-9-21.2-14.1-33.9-14.1H257c-11.1 0-22.1-2.9-31.8-8.4l-34.5-19.7c-4.3-2.5-7.6-6.5-9.2-11.2c-3.2-9.6 1.1-20 10.2-24.5l5.9-3c6.6-3.3 14.3-3.9 21.3-1.5l23.2 7.7c8.2 2.7 17.2-.4 21.9-7.5c4.7-7 4.2-16.3-1.2-22.8l-13.6-16.3c-10-12-9.9-29.5 .3-41.3l15.7-18.3c8.8-10.3 10.2-25 3.5-36.7l-2.4-4.2c-3.5-.2-6.9-.3-10.4-.3C163.1 48 84.4 108.9 57.7 193zM464 256c0-36.8-9.6-71.4-26.4-101.5L412 164.8c-15.7 6.3-23.8 23.8-18.5 39.8l16.9 50.7c3.5 10.4 12 18.3 22.6 20.9l29.1 7.3c1.2-9 1.8-18.2 1.8-27.5zm48 0c0 141.4-114.6 256-256 256S0 397.4 0 256S114.6 0 256 0S512 114.6 512 256z);
    background-size: 20dip 20dip;
}
.control {
    background-image: url(path: M495.9 166.6c3.2 8.7 .5 18.4-6.4 24.6l-43.3 39.4c1.1 8.3 1.7 16.8 1.7 25.4s-.6 17.1-1.7 25.4l43.3 39.4c6.9 6.2 9.6 15.9 6.4 24.6c-4.4 11.9-9.7 23.3-15.8 34.3l-4.7 8.1c-6.6 11-14 21.4-22.1 31.2c-5.9 7.2-15.7 9.6-24.5 6.8l-55.7-17.7c-13.4 10.3-28.2 18.9-44 25.4l-12.5 57.1c-2 9.1-9 16.3-18.2 17.8c-13.8 2.3-28 3.5-42.5 3.5s-28.7-1.2-42.5-3.5c-9.2-1.5-16.2-8.7-18.2-17.8l-12.5-57.1c-15.8-6.5-30.6-15.1-44-25.4L83.1 425.9c-8.8 2.8-18.6 .3-24.5-6.8c-8.1-9.8-15.5-20.2-22.1-31.2l-4.7-8.1c-6.1-11-11.4-22.4-15.8-34.3c-3.2-8.7-.5-18.4 6.4-24.6l43.3-39.4C64.6 273.1 64 264.6 64 256s.6-17.1 1.7-25.4L22.4 191.2c-6.9-6.2-9.6-15.9-6.4-24.6c4.4-11.9 9.7-23.3 15.8-34.3l4.7-8.1c6.6-11 14-21.4 22.1-31.2c5.9-7.2 15.7-9.6 24.5-6.8l55.7 17.7c13.4-10.3 28.2-18.9 44-25.4l12.5-57.1c2-9.1 9-16.3 18.2-17.8C227.3 1.2 241.5 0 256 0s28.7 1.2 42.5 3.5c9.2 1.5 16.2 8.7 18.2 17.8l12.5 57.1c15.8 6.5 30.6 15.1 44 25.4l55.7-17.7c8.8-2.8 18.6-.3 24.5 6.8c8.1 9.8 15.5 20.2 22.1 31.2l4.7 8.1c6.1 11 11.4 22.4 15.8 34.3zM256 336c44.2 0 80-35.8 80-80s-35.8-80-80-80s-80 35.8-80 80s35.8 80 80 80z);
    background-size: 20dip 20dip;
}

#navigation > div:active {
    transform: scale(0.9);
}

#navigation > div:hover {
    transition: background ease 100ms;
    background: rgba(255,255,255, 0.8);
    box-shadow: 3dip 3dip 2dip rgba(0,0,0,0.1);
    cursor: pointer;
    transform: scale(1.1);
    color: black;
}

#navigation > div:hover > .nav-icon {
    fill: black;
}



a {
    margin-right: 10dip;
    color: #8f8479;
    text-decoration: none;
}

a:hover {
    color: rgba(20,20,20,1);
}

#play-button {
    background: #3aab47;
    border-radius: 3dip;
    color: white;
    box-shadow: 1dip 1dip 3dip rgba(0,0,0,0.2);
    font-weight: normal;
    font-family: 'Roboto-Light';
    margin: 3dip;
    height: *;
    vertical-align: middle;
    transform: scale(0);
    transition: transform bounce-in 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12dip;
    font-size: 14pt;
    width: *;
    text-shadow: 1dip 1dip 0dip rgba(0,0,0,0.2);
}

#play-button:hover {
    background: #37a243;
    cursor: pointer;
}

#play-button:focus {
    background: #37a243;
    outline: none;
}

#play-button:active {
    box-shadow: inset 0 3dip 5dip rgba(0, 0, 0, 0.125);
    background: #37a243;
    outline: none;
    transform: scale(0.9);
}

#main-container {
    flow: grid(1, 2);
    size: *;
}

#top-container {
    height: 1*;
    width: *;
    padding: 6dip;
    padding-top: 55dip;
}

#bottom-container {
    width: *;
    padding: 6dip;
    flow: grid(1 2 3);
    height: max-content;
    margin: 0dip;
    border-radius: 0dip;
    background: rgba(40,40,40,0.8);
    box-shadow: 0dip -6dip 3dip rgba(0,0,0,0.2);
    backdrop-filter: blur(20dip);
}

#loading-container {
    width: *;
    background: #1f1f1f;
    height: 20dip;
    margin-right: 3dip;
    border-radius: 3dip;
    border: 1dip solid #232323;
}

#loading-fill {
    background: #0078d7;
    width: 0%;
    height: *;
    border-radius: 3dip;
/*     transition: width linear 200ms; */
}

output{
    position: absolute;
    bottom: 0dip;
    left: 0dip;
    height: max-content;
    width: max-content;
}

#top-players-box {
    border-radius: 3dip;
    background: rgba(255,255,255,0.8);
    box-shadow: 3dip 3dip 0dip rgba(0,0,0,0.2);
    height: *;
    width: calc(30%);
    backdrop-filter: blur(20dip);
    border: 1px solid rgba(0,0,0,0.1);
}


#progress-div {
    background: rgba(255,255,255,0.8);
    padding: 12dip;
    border-radius: 3dip;
    position: absolute;
    bottom: 32dip;
    left: 100dip;
    font-size: 14pt;
    font-weight: normal;
    font-family: 'Roboto-Light';
    border: 1dip solid rgba(0,0,0,0.2);
}
