@font-face
{
    font-family: 'Nuninto';
    src: url(Nunito-VariableFont_wght.ttf);
}

@font-face
{
    font-family: 'Roboto-Regular';
    src: url(Roboto-Regular.ttf);
}

@font-face
{
    font-family: 'Roboto-Light';
    src: url(Roboto-Light.ttf);
}

html {
    background: #282828;
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto-Light';
}

#top-bar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    background: rgba(236, 226, 215, 0.9);
    width: *;
    box-shadow: 0px 6px 0px rgba(0,0,0,0.5);
    flow: horizontal;
}

#logo {
    margin: 3px;
}

#navigation {
    width: *;
    height: *;
    font-size: 18px;
    flow: horizontal;
    vertical-align: center;
    margin-left: 6px;
}

#navigation > div{
    border-radius: 6px;
    margin-right: 6px;
    padding: 6px;
    margin-top: *;
    margin-bottom: *;
    font-family: 'Roboto-Light';
    font-weight: normal;
    background: rgba(255,255,255, 0);
    transition: background ease 100ms;
}

#navigation > div:hover {
    transition: background ease 100ms;
    background: rgba(255,255,255, 0.8);
}

a {
    margin-right: 10px;
    color: rgba(40,40,40,1);
    text-decoration: none;
}

a:hover {
    color: rgba(20,20,20,1);
}

#play-button {
    background: #3aab47;
    border-radius: 3px;
    color: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: normal;
    font-family: 'Roboto-Light';
    margin: 3px;
    height: *;
    vertical-align: middle;
    transform: scale(0);
    transition: transform bounce-in 300ms;
}

#play-button:hover {
    background: #37a243;
    cursor: pointer;
}

#play-button:focus {
    background: #37a243;
    outline: none;
}

#play-button:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background: #37a243;
    outline: none;
}

#main-container {
    flow: grid(1, 2);
    size: *;
}

#top-container {
    height: 1*;
    width: *;
}

#bottom-container {
    width: *;
    padding: 6px;
    flow: grid(1 2);
    height: max-content;
    margin: 0px;
    border-radius: 0px;
    background: rgba(40,40,40,0.8);
    box-shadow: 0px -6px 3px rgba(0,0,0,0.2);
}

#loading-container {
    width: *;
    background: #1f1f1f;
    height: 20px;
    margin-right: 3px;
    border-radius: 3px;
    border: 1px solid #232323;
}

#loading-fill {
    background: #0078d7;
    width: 0%;
    height: *;
    border-radius: 3px;
/*     transition: width linear 200ms; */
}

output{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: max-content;
    width: max-content;
}
